td {
    vertical-align: top;
    font-family: "Arial Black", Gadget, sans-serif;
}

p {
    white-space: pre-wrap;
}

div.date {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #888888;
    padding: 8px;
    border-radius: 20px;
    opacity: 0.05;
    transition: opacity ease-in-out 0.3s, border-radius ease-in-out 0.3s;
}

div.date:hover {
    opacity: 0.7;
    border-radius: 2px;
}

div.date p {
    margin: 0 0;
    color: white;
}

hr {
    border: none;
    border-top: 0.5px solid #DDDDDD;
}

img {
    margin: 2%;
    border-radius: 4px;
    max-width: 96%;
    max-height: 500px;
}

a.reply {
    color: #575757;
    text-decoration: none;
}

a.reply p {
    padding: 0 0 0 16px;
}

p.time {
    font-size: 8px;
    text-align: right;
    margin: -12px -2px -2px 0px;
}

.in {
    float: left;
}

.out {
    float: right;
}

div.msg {
    padding: 4px 8px;
    border-radius: 8px;
    min-width: 80px;
}

div.in {
    background-color: #F7F7F7;
}

div.out {
    background-color: #ECF7F7;
}

p.msg-header {
    font-size: 8px;
    margin: 0;
}

/* Message table cell */
.msg {
    max-width: 640px;
    background-color: red;
    word-wrap: break-word;
}

/* Profile picture */
.propic {
    width: 64px;
    height: 64px;
}

img.propic {
    border-radius: 100%;
}
