/* ----------------------------------------------------- Floating date */

div.date {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #888888;
    padding: 8px;
    border-radius: 20px;
    opacity: 0.05;
    transition: opacity ease-in-out 0.3s, border-radius ease-in-out 0.3s;
}

div.date:hover {
    opacity: 0.7;
    border-radius: 2px;
}

div.date p {
    margin: 0 0;
    color: white;
}

a.date {
    color: #40CFFF;
    transition: border-bottom linear 0.1s;
}

a.date:hover {
    border-bottom: 2px solid #40CFFF;
}

/* ----------------------------------------------------- Message services */

div.service {
    max-width: 200px;
    margin: 16 auto;

    background-color: #222222;
    padding: 2px 8px;
    border-radius: 2px;
    text-align: center;
}

div.service p {
    color: #FFFFFF;
}

/* ----------------------------------------------------- Messages related */

.in { float: left; }
.out { float: right; }

div.in { background-color: #F7F7F7; }
div.out { background-color: #ECF7F7; }

.msg {
    max-width: 640px;
    background-color: red;
    word-wrap: break-word;
}

div.msg {
    padding: 4px 8px;
    border-radius: 8px;
    min-width: 80px;
}

p.msg-header {
    font-size: 8px;
    margin: 0;
}

/* -------------------------- Replies */

a.reply {
    color: #575757;
    text-decoration: none;
}

a.reply p {
    padding: 0 0 0 16px;
}

a.reply img {
    height: 64px;
}

/* -------------------------- Animation after clicking a reply */

div.msg:target {
    /* 2 and alternate to go "from --1--> to --2--> from" */
    animation: myfirst 1s ease-in-out 2 alternate;
}

@keyframes myfirst {
    to { background: yellow;}
}

/* -------------------------- Time */

p.time {
    font-size: 8px;
    text-align: right;
    margin: -12px -2px -2px 0px;
}

/* -------------------------- Profile picture */

.propic {
    width: 64px;
    height: 64px;
}

img.propic {
    border-radius: 100%;
}

/* ----------------------------------------------------- General style */

td { vertical-align: top; }

a { text-decoration: none; }

p {
    font-family: "Arial Black", Gadget, sans-serif;
    white-space: pre-wrap;
}

hr {
    border: none;
    border-top: 0.5px solid #DDDDDD;
}

img {
    margin: 2%;
    border-radius: 4px;
    max-width: 96%;
    max-height: 500px;
}
